/* Add CSS Styling */
.bgcolor {
    background-color: rgba(236, 119, 150, 0.7);
    font-family: verdana, dejaVu sans, sans-serif;
}
#second {
    color: blue;
    font-size: 24px;
}
.size {
    font-size: 24px;
}
#fourth {
    background-color: rgb(106, 225, 106);
    font-size: 24px;
    font-weight: bold;
}